:root {
  --gray: #333;
  --white: #fff;
  --off-white: #f4f4f4;
  --page-1-color: steelblue;
  --page-2-color: tan;
  --page-3-color: teal;
  --page-4-color: slateblue;
  --animate-speed: 1s;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* Page Colors */
#page-1 {
  background: var(--page-1-color);
}
#page-2 {
  background: var(--page-2-color);
}
#page-3 {
  background: var(--page-3-color);
}
#page-4 {
  background: var(--page-4-color);
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 4rem;
}

.page h1 {
  text-transform: capitalize;
  font-size: 4rem;
  line-height: 1.2;
  margin: 1rem;
}

.page p {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  margin-top: 1rem;
  font-size: 1.1rem;
  text-decoration: none;
  border: none;
  transition: all 0.3s ease-in;
}

.btn-light,
.btn-dark:hover {
  background: var(--off-white);
  color: var(--gray);
}

.btn-light:hover,
.btn-dark {
  background: var(--gray);
  color: var(--white);
}
